<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> from HOST:<%= host %> </p>
    <img src="/images/cartel.png" alt="">
  </body>
</html>
